body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  min-width: 100vw;
  min-height: 100vh;
}

.col {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
}

@media (max-width: 700px) {
  body {
    flex-direction: column;
  }
  .col {
    width: 100%;
  }
}

.col--left {
  background-color: black;
  color: white;
  border-right:0.4px dashed darkgray;
}

h1 {
  font-family: 'Bebas neue', serif;
  font-size: 6vw;
  letter-spacing: 0.32vw;
  margin: 10px 0 0;
}
h2 {
  margin-top: 0;
  text-align: left;
  color: gray;
  font-size: 1.5vw;
}

.col--right {
  background-color: #101010;
}

.profile {
  text-align: center;
  margin-bottom: 48px;
}
#profile-pic {
  height: 280px;
  width: 280px;
  border-radius: 50%;
  animation: float 6s ease-in-out infinite;
  display: inline-block;
  transition:  0.3s;
}
.float {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
      transform: translatey(0px);
      box-shadow: 0 5px 15px 0px rgba(255,255,255,0.6);
  }
  50% {
      
  box-shadow: 0 25px 15px 0px rgba(255,255,255,0.2);
      transform: translatey(-20px);
  }
  100% {
      box-shadow: 0 5px 15px 0px rgba(255,255,255,0.6);
      transform: translatey(0px);
  }
}


.text {
  padding: 0 20px;
  font-size: 16px;
  text-align: justify;
  color: lightgray;
}

.text p:first-child {
  margin-top: 0;
}

@media (max-width: 700px) {
  body {
    flex-direction: column;
  }
  .col {
    width: 100%;
    padding: 20px 0;
  }

  .col--left {
    height: 20vh;
  }

  .col--right {
    height: calc(80vh - 80px);
  }
}
